= render 'error', user: @user, department: @department
%h1 ユーザー編集

= form_with model:  @user, local: true do |f|
  %div
    = f.label :name, "名前"
    = f.text_field :name, required: true
  %div
    = f.label :email, "メール"
    = f.text_field :email, required: true
  %div
    = f.label :position, "役職"
    = f.select :position, [["平社員", "member"],["部長","manager"]]
  %div
    = f.label :active, "在職"
    = f.check_box :active

  %div= f.submit "作成"