%h1 ユーザ-一覧
%div= link_to '作成', new_department_user_path
%table
  %thead
    %tr
      %th 名前
      %th メール
      %th 役職
      %th 在職
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.position
        %td= user.active
        %td= link_to '編集', edit_user_path(user)



