%h1 部署一覧
%table
  %thead
    %tr
      %th 名前
      %th 作成日
      %th
      %th
  %tbody
    - @departments.each do |department|
      %tr
        %td= department.name
        %td= l department.created_at
        %td= link_to "#{@user_counts[department.id] || 0}人", department_users_path(department)
        %td= link_to "編集", edit_department_url(department), class: 'btn btn-success delete'
        %td= link_to '削除', department, method: :delete, remote: true, data: {confirm: "削除します"}, class: 'btn btn-danger delete'