%h1 部署一覧
%div= link_to '部署作成', new_department_path
%table
  %thead
    %tr
      %th 名前
      %th 作成日
      %th
      %th
  %tbody
    - @departments.each do |department|
      %tr
        %td= department.name
        %td= l department.created_at
        %td= link_to "#{@user_counts[department.id] || 0}人", department_users_path(department)
        %td= link_to "編集", edit_department_url(department)
